<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <root level="DEBUG">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.bitsofinfo" level="DEBUG"/>
    <logger name="net.schmizz" level="WARN"/>
    <logger name="net.schmizz.sshj.xfer.scp.SCPEngine" level="ERROR"/>
    <logger name="com.decodified.scalassh" level="WARN"/>
    <logger name="n.s.sshj" level="WARN"/>
    <logger name="org.elasticsearch" level="INFO"/>
</configuration>
